body {
    font-family: 'Open Sans', sans-serif;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 200px;
}

nav > h3 {
    color: #181818;
    font-size: 45px;
    font-weight: 800;
}

nav span {
    color: #FD6E0A;
}

nav > ul {
    display: flex;
    align-items: center;
}

nav li {
    list-style: none;
    margin-right: 50px;
}

nav li > a {
    text-decoration: none;
    color: #474747;
}

.btn-primary {
    border: 0;
    border-radius: 5px;
    background: #FD6E0A;
    padding: 18px 35px;
    color: white;
    font-size: 20px;
    font-weight: 700;
    margin-right: 30px;
}

header {
    background-color: #FFF8F3;
    background-image: url('../images/header_bg.png');
    background-repeat: no-repeat;
    background-position: bottom right;
}

.banner {
    padding: 30px 30px 0px 200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.profile-pic {
    width: 500px;
}

.banner-greeting {
    color: #474747;
    font-size: 45px;
    margin-bottom: 5px;
}

.banner-title {
    color: #181818;
    font-size: 85px;
    font-weight: 700;
    margin-top: 0px;
    margin-bottom: 20px;
}

.banner-text {
    margin-top: 0;
}

.banner-content {
    max-width: 500px;
}

.about {
    border-radius: 10px;
    background: #FFF8F3;
    padding: 130px;
    margin: 130px 200px;
}

.section-title {
    color: #181818;
    text-align: center;
    font-size: 35px;
    font-weight: 700;
}

.section-desc {
    color: #757575);
    text-align: center;
    font-size: 14px;
}


.about-info-container {
    display: flex;
    justify-content: space-between;
}

.about-info {
    text-align: center;
}

.about-title {
    color: #757575;
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 5px;
}

.about-desc {
    color: #474747;
    font-size: 20px;
    font-weight: 700;
    margin-top: 0px;
}

.what-i-do {
    margin: 0 200px;
    margin-bottom: 130px;
}

.what-i-do > .section-desc {
    padding: 0 150px;
    margin-bottom: 50px;
}

.skills-container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.skill {
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
    width: 260px;
    padding: 30px 33px;
}

.lang-icon {
    width: 40px;
}

.skill-title {
    color: #181818;
    font-size: 20px;
    font-weight: 700;
}

.skill-desc {
    color: #757575;
    font-size: 16px;
    font-weight: 400;
}

.summary {
    margin: 0 200px;
    margin-bottom: 100px;
}

.resume-info-container {
    display: flex;
    gap: 70px;
}

.resume-title {
    color: #474747;
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 30px;
}

.post {
    color: #474747;
    font-size: 25px;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 10px;
}

.institute {
    color: #757575;
    font-size: 20px;
    font-weight: 600;
    margin-top: 0;
    margin-bottom: 20px;
}

.resume-desc {
    color: #757575;
    font-size: 16px;
    font-weight: 400;
    margin-top: 0;
    margin-bottom: 30px;
    max-width: 500px;
}

.summary hr {
    background-color: #D1D1D1;
}

.summary button {
    display: block;
    margin: 0 auto;
    margin-top: 50px;
}

footer {
    display: flex;
    padding: 130px 200px;
    justify-content: space-between;
    background-color: #FFF8F3;
}

.footer-text {
    max-width: 560px;
    color: var(--dark-02, #474747);
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 30px;
}

.footer-icons {
    width: 24px;
    margin-right: 24px;
}

.input {
    display: block;
    padding: 18px 30px;
    width: 300px;
    border-radius: 5px;
    margin-bottom: 24px;
    border: 0;
}

input[type="button"] {
    display: block;
}

textarea {
    resize: none;
    height: 180px;
}